@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900');



/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;

}


header{
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(253, 253, 253, 0.8)
}


img {
  vertical-align: middle;
}


h1{

  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 0;
  letter-spacing: 0.02em;
}

h2{

  text-transform: uppercase;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 0.04em;

}



ul{

  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.95em;
  color: #292d36;

}


li{

   display: inline-block;
   margin: 15px 20px;

 }

 nav{

   padding-left: 105px;

 }

 .logo{

   width: 65px;
   height: 65px;
   background-image: url("../assets/images/logo.png");
   background-size: 100% auto;
   position: fixed;
   top: 10px;
   left: 84%;

 }

/* home debajo del menu */

#home{

  width: 100%;
  height: auto;
  margin-top: 92px;
  background-image:url("../assets/images/bg-home.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #292d36;
  padding: 4% 0 11% 0;
  text-align: center;
  color: white;
  

}


#home p{

 text-transform: uppercase;
 font-weight: 200; 
 margin-top: 0;
 margin-bottom: 80px;
 font-size: 15px;
}


#home a{

 text-transform: uppercase;
 background-color: #2ecc71;
 padding: 13px 20px;
 color: white;
 margin: 30px 0;
 font-weight: 200;
 font-size: 0.85em;


}

#home a:hover{

 color: #E95853;


}

/* seccion servicios */

#services{

  width: 100%;
  height: auto;
  background-color: #f17c72;
  color: white;
  text-align: center;
  padding: 3.5% 0;

}

#services h2{

  text-transform: uppercase;
  font-weight: 600;
  font-size: 31px;
  letter-spacing: 0.1em;

}


#services h4{

  font-weight:400;
  font-size: 14px;
  letter-spacing: 0.06em;


}

#services h5{

  text-transform: uppercase;
  font-weight:500;
  font-size: 0.7em;
  letter-spacing: 0.05em;
  margin-top: 20px;
  margin-bottom: 0;

}

#services h6{

  font-weight:500;
  font-size: 11px;
  line-height: 0;
  margin: 18px 0;


}



.padding{

  padding: 1% 3%;
  

}

.serv{

   width: 22%;
   height: auto;
   display: inline-block;
   margin: 50px 30px 0;

}

.serv img{

  width: 70%;
  height: auto;
}






.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

